body {
    margin: 0;
    background: #1b1b23;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar li {
    cursor: pointer;
    opacity: 0.8;
}

.purple {
    color: #a349ff;
}

.btn-outline {
    background: transparent;
    border: 1px solid #a349ff;
    color: #a349ff;
    padding: 6px 18px;
    border-radius: 8px;
    margin-left: 15px;
}

.btn-filled {
    background: #a349ff;
    border: none;
    padding: 7px 20px;
    border-radius: 8px;
    color: white;
    margin-left: 10px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 80px;
    align-items: center;
}

.hero-text {
    max-width: 520px;
}

.hero-text h1 {
    font-size: 42px;
    line-height: 1.3;
}

.subtext {
    margin-top: 15px;
    opacity: 0.85;
}

.hero-buttons {
    margin-top: 25px;
}

.btn-primary {
    background: #a349ff;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
}

/* SECTION TITLE */
.section-title {
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
}

.section-sub {
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
}

/* FEATURE CARDS */
.features {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 0 120px 100px;
}

.feature-card {
    background: #101020;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(160, 60, 255, 0.15);
}
